<div style="
    margin-top: 100px;
    color: #888888;
    text-align: center;
    line-height: 28px;/*
    position: fixed;
    bottom:60px;
    right:500px;*/
">
    © 1999 Diana Robins, Deborah Fein & Marianne Barton
    <br>
    <a href="#">小雨滴</a>团队倾情奉献
</div>